* {
  box-sizing: border-box;
}

.demtaku {
  display: flex;
}

#screen {
  text-align: right;
  color: white;
  background-color: black;
  flex-direction: column;
  height: 50px;
  font-size: 40px;
}

button {
  flex-direction: column;
  font-size: 25px;
  height: 100px;
} 

.a {
  width: 25%;
}

.b {
  width: 50%;
}

button:active {
  border-color: blue;
}


